/* CSS specifico di ogni applicazione (l'unico da modificare) */

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for 'xs' since this is the default */



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
}

/* Extra extra large devices (extra large desktops, 1440px and up) */
@media (min-width: 1440px) {
	
}