/*!
 * Sogei UI Kit 4
 * author: dgalloppa@sogei.it
 */

/* INPUT */
.form-row {
    margin-bottom: 1rem;
}
label {
	font-weight: 600;
	margin-bottom: .375rem;
}
.form-control,
.custom-select {
	border-color: #ccc;
	border-radius: 0;
	color: #1c2024;
	font-size: 1em;
}
textarea {
	resize: none;
}
.custom-file {
	margin-bottom: 1rem;
}
.custom-file-label {
	color: #1c2024;
	border-color: #ccc;
	border-radius: 0;
}
.custom-file-label::after {
	border-radius: 0;
	content: "\f574";
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
}
.custom-file-input:not(:disabled) ~ .custom-file-label::after {
	background-color: #06c;
	border-color: #06c;
	color: #fff;
}
fieldset {
	margin-bottom: 1rem;
	border: 1px solid #ccc;
	padding: 0 1rem;
}
legend {
	font-size: 1em;
	font-weight: 600;
	max-width: 100%;
	width: auto;
}
fieldset label {
	font-weight: normal;
}
fieldset > .form-check,
fieldset > .custom-control {
	margin-bottom: .25rem;
}
fieldset > .form-check:last-child,
fieldset > .custom-control:last-child {
	margin-bottom: .75rem;
}
.custom-control-input:checked ~ .custom-control-label::before {
	border-color: #06c;
	background-color: #06c;
}
.custom-control-label::before {
	border-color: #aaa;
}
fieldset.is-invalid,
.form-group.is-invalid .form-control {
	border-color: #a94442;
}
fieldset.is-invalid legend,
.form-group.is-invalid label {
	color: #a94442;
}
.input-group-text {
	border-color: #ccc;
	border-radius: 0;
	color: #1c2024;
}
.form-control:not(textarea),
.custom-select {
	height: calc(2rem + 2px);
}
.form-control,
.custom-select,
.input-group-append > .btn,
.input-group-append > .input-group-text,
.input-group-prepend > .btn,
.input-group-prepend > .input-group-text {
	padding: .25rem .625rem;
}
.form-control-sm:not(textarea),
.custom-select-sm,
.input-group-sm > .custom-select,
.input-group-sm > .form-control:not(textarea) {
	height: calc(1.75rem + 2px);
}
.form-control-sm:not(textarea),
.custom-select-sm,
.input-group-sm > .custom-select,
.input-group-sm > .form-control,
.input-group-sm > .input-group-append > .btn,
.input-group-sm > .input-group-append > .input-group-text,
.input-group-sm > .input-group-prepend > .btn,
.input-group-sm > .input-group-prepend > .input-group-text {
	border-radius: 0;
	font-size: 1rem;
	padding: .125rem .5rem;
}
.form-control-lg:not(textarea),
.custom-select-lg,
.input-group-lg > .custom-select,
.input-group-lg > .form-control:not(textarea) {
	height: calc(2.25rem + 2px);
}
.form-control-lg:not(textarea),
.custom-select-lg,
.input-group-lg > .custom-select,
.input-group-lg > .form-control,
.input-group-lg > .input-group-append > .btn,
.input-group-lg > .input-group-append > .input-group-text,
.input-group-lg > .input-group-prepend > .btn,
.input-group-lg > .input-group-prepend > .input-group-text {
	border-radius: 0;
	font-size: 1rem;
	padding: .375rem .75rem;
}
.custom-switch {
	padding-left: 3rem;
}
.custom-switch .custom-control-label::before {
	border-radius: .75rem;
	height: 1.375rem;
	margin-top: -.125rem;
	left: -3rem;
	width: 2.375rem;
}
.custom-switch .custom-control-label::after {
	background-color: #aaa;
	border-radius: .75rem;
	height: calc(1.375rem - 4px);
	margin-top: -.125rem;
	left: calc(-3rem + 2px);
	width: calc(1.375rem - 4px);
}
.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
	-webkit-transform: translateX(1rem);
	transform: translateX(1rem);
}
.form-check-input:not(:disabled) ~ .form-check-label,
.custom-control-input:not(:disabled) ~ .custom-control-label,
.custom-file-input:not(:disabled) {
	cursor: pointer;
}
.custom-control-input:disabled ~ .custom-control-label {
	color: #999;
}
/* Fix IE */
.form-control::-ms-reveal {
	display: none;
}

/* POPOVER */
.popover {
	border-color: #ccc;
	border-radius: 0;
	box-shadow: none;
	font-size: 1em;
}

/* DATEPICKER */
.datepicker.dropdown-menu {
	border-color: #ccc;
	border-radius: 0;
	box-shadow: none;
	color: #1c2024;
	font-size: 1em;
}
.datepicker table tr td.today {
	background-color: #d1e7ff;
	border-color: #d1e7ff;
	color: #1c2024;
}
.datepicker table tr td.today.active,
.datepicker table tr td.today.active.focus,
.datepicker table tr td.today.active:focus,
.datepicker table tr td.today.active:hover,
.datepicker table tr td.today.focus,
.datepicker table tr td.today.focused,
.datepicker table tr td.today:active,
.datepicker table tr td.today:active.focus,
.datepicker table tr td.today:active:focus,
.datepicker table tr td.today:active:hover,
.datepicker table tr td.today:focus,
.datepicker table tr td.today:hover {
	background-color: #8ebeed;
	border-color: #8ebeed;
	color: #1c2024;
}
.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active:active {
	background-color: #06c;
	border-color: #06c;
}
.datepicker table tr td.active.active.focus,
.datepicker table tr td.active.active:focus,
.datepicker table tr td.active.active:hover,
.datepicker table tr td.active.highlighted.active.focus,
.datepicker table tr td.active.highlighted.active:focus,
.datepicker table tr td.active.highlighted.active:hover,
.datepicker table tr td.active.highlighted:active.focus,
.datepicker table tr td.active.highlighted:active:focus,
.datepicker table tr td.active.highlighted:active:hover,
.datepicker table tr td.active:active.focus,
.datepicker table tr td.active:active:focus,
.datepicker table tr td.active:active:hover {
	background-color: #036;
	border-color: #036;
}
.datepicker .day {
	text-align: right;
}

/* TREE VIEW */
.tree-view .custom-control {
	display: inline-block;
}

/* BUTTON */
.btn {
	border-radius: 0;
	font-size: 1em;
	white-space: normal;
}
.btn-primary,
.btn-primary:focus,
.btn-primary[disabled]:hover,
.btn-primary:disabled,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
	background-color: #06c;
	border-color: #06c;
	color: #fff;
}
.btn-primary:active,
.btn-primary:hover,
.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-default:active,
.btn-default:hover,
.btn-default:active:hover,
.btn-default:active:focus {
	background-color: #036;
	border-color: #036;
	color: #fff;
}
.btn.disabled,
.btn:disabled {
	opacity: .5;
}
.btn-default,
.btn-default:focus,
.btn-default[disabled]:hover,
.btn-default:disabled {
	background-color: #fff;
	border-color: #06c;
	color: #06c;
}
.btn-danger,
.btn-danger:focus,
.btn-danger[disabled]:hover,
.btn-danger:disabled {
	background-color: #d43f3a;
}
.btn-danger:active,
.btn-danger:hover,
.btn-danger:active:hover,
.btn-danger:active:focus {
	background-color: #b50000;
	border-color: #b50000;
	color: #fff;
}
.btn-danger-alt,
.btn-danger-alt:focus,
.btn-danger-alt[disabled]:hover,
.btn-danger-alt:disabled {
	background-color: #fff;
	border-color: #d43f3a;
	color: #d43f3a;
}
.btn-link {
	color: #06c;
}
.btn-link:hover {
	color: #036;
}
.btn-ok {
	padding-left: 2rem;
	padding-right: 2rem;
}
.btn.active,
.btn:active {
	box-shadow: none;
}
a.btn-default:active,
a.btn-default:hover,
a.btn-default:active:hover {
	background-color: #fff;
	border-color: #036;
	color: #036;
}
.btn-group-xs > .btn,
.btn-xs {
	padding: 0 .25rem;
}
.btn-group-sm > .btn,
.btn-sm {
	font-size: 1em;
}
.btn-group-lg > .btn,
.btn-lg {
	font-size: 1em;
}

/* CHIPS */
.chip {
	background-color: #fff;
	border: 1px solid #ccc;
	color: #5a6772;
	display: inline-block;
	font-size: .9em;
	font-weight: 600;
	padding: .125rem .5rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.chip:hover {
	background-color: #f0f0f0;
}
.chip .chip-icon {
	margin-right: .25rem;
}
.chip .chip-btn {
	color: #5a6772;
	padding: 0 .5rem;
	vertical-align: inherit;
}
.icon-danger {
	color: #d9534f;
}
.icon-info {
	color: #5bc0de;
}
.icon-success {
	color: #5cb85c;
}
.icon-warning {
	color: #f0ad4e;
}

/* CAPTCHA */
#img-captcha {
	height: 100px;
	margin-bottom: 20px;
	max-width: 100%;
	width: 200px;
}