/*!
 * Sogei UI Kit 4
 * author: dgalloppa@sogei.it
 */

nav a:not(:hover) {
	text-decoration: none !important;
}

/* MENU TOP */
.navbar-brand {
	font-family: 'Titillium Web';
	font-size: 1.125rem;
	font-weight: 600;
	color: #fff;
}
.navbar-nav .nav-link,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
	color: #fff;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.active:focus,
.navbar-nav .nav-link.active:hover {
	font-weight: 700;
}
.navbar-nav .nav-link.disabled {
	color: rgba(255,255,255,.5);
}
.navbar-toggler {
	border-radius: 0;
	color: #fff;
}
.dropdown-menu {
	border-radius: 0;
	font-size: inherit;
	margin-top: .25rem;
	min-width: 100%;
}
.dropdown-toggle {
	white-space: normal;
}
.dropdown-item {
	color: #06c;
	padding: .375rem 1rem;
	transition: color 0.05s ease-in-out, background-color 0.05s ease-in-out, border-color 0.05s ease-in-out;
}
.dropdown-item:focus,
.dropdown-item:hover {
	background-color: #f0f0f0;
	color: #036;
}
.dropdown-item.active,
.dropdown-item:active {
	color: #06c;
	background-color: transparent;
	font-weight: 700;
}
.dropdown-item.disabled,
.dropdown-item:disabled {
	color: rgba(0,102,204,.5);
}
#btn-accedi,
.btn-accedi {
	font-weight: 900;
	text-align: center;
}

/* MENU LEFT */
main nav {
	margin-bottom: 1rem;
}
#menu-left.navbar-light {
	background-color: #fff;
	border-bottom: .125rem solid transparent;
}
#menu-left-title,
#menu-left > .nav-divider {
	color: #fff;
	padding: .5rem 1rem;
}
#menu-left-title {
	font-size: 1.125rem;
	margin-bottom: 0;
	line-height: 1.5;
}
#menu-left .nav-divider {
	font-family: 'Titillium Web';
	font-weight: 600;
}
#menu-left-title .menu-toggler {
	background-color: transparent;
	border: 0;
	color: #fff;
	margin-left: 1rem;
	padding: 0;
}
#menu-left-title .fas::before {
	content: '\f077';
}
#menu-left-title .collapsed > .fas::before {
	content: '\f078';
}
#menu-left.navbar-dark .nav-item {
	background-color: rgba(255,255,255,.1);
}
#menu-left .nav-link {
	padding: .5rem 1rem;
}
#menu-left.navbar-dark .nav-link {
	color: #fff;
}
#menu-left.navbar-dark .nav-link.disabled {
	color: rgba(255,255,255,.5);
}
#menu-left.navbar-dark .nav-link:focus,
#menu-left.navbar-dark .nav-link:hover,
#menu-left.navbar-dark .nav-link.active,
#menu-left.navbar-dark .nav-link.active:focus,
#menu-left.navbar-dark .nav-link.active:hover {
	background-color: rgba(255,255,255,.1);
}
#menu-left .has-subitems > .nav-link:focus,
#menu-left .has-subitems > .nav-link:hover {
	text-decoration: none;
}
#menu-left .has-subitems > .nav-link::before {
	content: '\f078';
	display: inline-block;
	font-family: 'Font Awesome 5 Free';
	font-size: .75rem;
	font-weight: 900;
	margin-right: .5rem;
	text-align: center;
	width: .75rem;
}
#menu-left .has-subitems > .nav-link:focus::before,
#menu-left .has-subitems > .nav-link:hover::before {
	content: '\f077';
	text-decoration: none;
}
#menu-left .has-subitems > .nav-link.collapsed::before {
	content: '\f054';
}
#menu-left .has-subitems > .nav-link.collapsed:focus::before,
#menu-left .has-subitems > .nav-link.collapsed:hover::before {
	content: '\f078';
}
#menu-left.items-indent .has-subitems .nav-item > .nav-link {
    padding-left: 2.25rem;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

	/* MENU TOP */
	@supports ((position: -webkit-sticky) or (position: sticky)) {
		.sticky-md-top {
			position: -webkit-sticky;
			position: sticky;
			top: 0;
			z-index: 1020;
		}
	}
	.navbar-expand-md .navbar-nav .nav-link:focus,
	.navbar-expand-md .navbar-nav .nav-link:hover,
	.navbar-expand-md .navbar-nav .nav-link.active,
	.navbar-expand-md .navbar-nav .nav-link.active:focus,
	.navbar-expand-md .navbar-nav .nav-link.active:hover {
		border-bottom: .25rem solid transparent;
		margin-bottom: -.25rem;
	}
	.navbar-expand-md .active-reverse .nav-link.active,
	.navbar-expand-md .active-reverse .nav-link.active:focus,
	.navbar-expand-md .active-reverse .nav-link.active:hover {
		background-color: #fff;
		border-bottom-color: transparent !important;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

	/* MENU TOP */
	@supports ((position: -webkit-sticky) or (position: sticky)) {
		.sticky-lg-top {
			position: -webkit-sticky;
			position: sticky;
			top: 0;
			z-index: 1020;
		}
	}
	.navbar-expand-lg .navbar-nav .nav-link:focus,
	.navbar-expand-lg .navbar-nav .nav-link:hover,
	.navbar-expand-lg .navbar-nav .nav-link.active,
	.navbar-expand-lg .navbar-nav .nav-link.active:focus,
	.navbar-expand-lg .navbar-nav .nav-link.active:hover {
		border-bottom: .25rem solid transparent;
		margin-bottom: -.25rem;
	}
	.navbar-expand-lg .active-reverse .nav-link.active,
	.navbar-expand-lg .active-reverse .nav-link.active:focus,
	.navbar-expand-lg .active-reverse .nav-link.active:hover {
		background-color: #fff;
		border-bottom-color: transparent !important;
	}

	/* MENU LEFT */
	#menu-left.collapse {
		display: block;
	}
	#menu-left.navbar-dark > .nav-divider {
		border-top: 1rem solid #fff;
	}
}