/*!
 * Sogei UI Kit 4
 * author: dgalloppa@sogei.it
 */

/* HEADER */
#page-header {
	background-color: #f0f0f0;
	border-bottom-color: #0d5d94;
	color: #5a6772;
}
#page-header .navbar-toggler {
	color: #5a6772;
}
#page-header .btn-primary.btn-alt:not(:hover) {
	background-color: #5a6772;
	border-color: #5a6772;
	color: #fff;
}
.language .btn:focus,
.language .btn:hover,
.language .active > .btn {
	background-color: #0b7d89;
	border-color: #0b7d89;
}

/* MENU TOP */
.navbar {
	background-color: #0d5d94;
}
#menu-top .dropdown-item,
#menu-top .dropdown-item:focus,
#menu-top .dropdown-item:hover,
#menu-top .dropdown-item.active,
#menu-top .dropdown-item:active {
	color: #0d5d94;
}
#menu-top .dropdown-item.disabled,
#menu-top .dropdown-item:disabled {
	color: rgba(13,93,148,.5);
}
#btn-accedi,
.btn-accedi {
	background-color: #0b7d89;
	color: #fff;
}

/* MENU LEFT */
#menu-left.navbar-light {
	border-color: #0d5d94;
}
#menu-left.navbar-dark,
#menu-left-title,
#menu-left .nav-divider {
	background-color: #0d5d94;
}
#menu-left.navbar-light .nav-item .nav-item {
	background-color: rgba(13,93,148,.1);
}
#menu-left.navbar-light .nav-link {
	color: #0d5d94;
}
#menu-left.navbar-light .nav-link.disabled {
	color: rgba(13,93,148,.5);
}
#menu-left.navbar-light .nav-link:focus,
#menu-left.navbar-light .nav-link:hover,
#menu-left.navbar-light .nav-link.active,
#menu-left.navbar-light .nav-link.active:focus,
#menu-left.navbar-light .nav-link.active:hover {
	background-color: rgba(13,93,148,.1);
}

/* ICONS */
.fa-title {
	background-color: #0b7d89;
}

/* TITLE */
h1.underline, h2.underline, h3.underline, h4.underline {
	border-bottom-color: #0d5d94;
}

/* LINK */
a:hover,
a:focus {
	color: #00a2ff;
}

/* SPINNER */
#spinner {
	color: #0b7d89;
}

/* BADGE */
.badge-primary {
	background-color: #0d5d94;
}

/* CARD */
.card-primary {
	border-color: #0d5d94;
}
.card-primary > .card-header {
	background-color: #0d5d94;
}
.card-info {
	border-color: #0b7d89;
}
.card-info > .card-header {
	background-color: #0b7d89;
	color: #fff;
}
.card-simple {
	border-color: #0b7d89;
}

/* COLLAPSIBLE */
.card-collapsible.card-info .card-toggler {
    color: #fff !important;
}

/* TABS */
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:hover {
	border-top-color: #0d5d94;
	color: #0d5d94;
}
.nav-tabs-reverse .nav-link.active,
.nav-tabs-reverse .nav-link.active:focus,
.nav-tabs-reverse .nav-link.active:hover {
	border-bottom-color: #0d5d94;
	color: #0d5d94;
}

/* TABLE */
.table > thead > tr > th {
	color: #0d5d94;
}
.table-header > thead > tr > th {
	background-color: #0d5d94;
	color: #fff;
}
.table:not(.table-bordered),
.table:not(.table-bordered) > thead > tr > th {
	border-color: #0d5d94;
}
caption {
	color: #0d5d94;
}

/* PAGINATION */
.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover {
	background-color: #0d5d94;
	border-color: #0d5d94;
}
.page-link:hover {
	color: #00a2ff;
}

/* ENTRYPOINT */
.btn-entrypoint.btn-default:not(:hover) {
	border-color: #0d5d94;
	color: #0d5d94;
}
.btn-entrypoint.btn-primary:not(:hover) {
	background-color: #0d5d94;
	border-color: #0d5d94;
}
.btn-entrypoint.btn-info:not(:hover) {
	background-color: #0b7d89;
	border-color: #0b7d89;
	color: #fff;
}
.btn-entrypoint.btn-default:active,
.btn-entrypoint.btn-default:hover,
.btn-entrypoint.btn-default:active:hover,
.btn-entrypoint.btn-info:active,
.btn-entrypoint.btn-info:hover,
.btn-entrypoint.btn-info:active:hover {
	background-color: #00a2ff;
	border-color: #00a2ff;
	color: #fff;
}

/* PROGRESS BAR */
.progress-bar-done {
	background-color: #0b7d89;
	color: #fff;
}
.progress-bar-doing {
	background-color: #0d5d94;
}
.progress-bar-link {
	color: #fff;
}
.progress-bar-link:focus,
.progress-bar-link:hover {
	background-color: #00a2ff;
}

/* WIZARD */
.wizard-dot,
.wizard .progress-bar,
.wizard-step-doing > .wizard-dot::after {
	background-color: #0b7d89;
}

/* UTILITY */
.section-primary {
	background-color: #0d5d94;
	background-image: linear-gradient(to right, #0d5d94, #2777ae);
}

/* FORM */
label,
legend,
.input-group-text {
	color: #0d5d94;
}

/* BUTTON */
.btn-primary:active,
.btn-primary:hover,
.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-default:active,
.btn-default:hover,
.btn-default:active:hover,
.btn-default:active:focus {
	background-color: #00a2ff;
	border-color: #00a2ff;
	color: #fff;
}
a.btn-default:active,
a.btn-default:hover,
a.btn-default:active:hover {
	border-color: #00a2ff;
	color: #00a2ff;
}

/* CAROUSEL */
.carousel-indicators .active {
	background-color: #0b7d89;
}

/* LOGIN */
#full-page {
	background-color: #f0f0f0;
	background-image: radial-gradient(#f0f0f0, #ddd 90%);
}
#full-page #page-footer,
#error-msg {
	color: #5a6772;
}
#full-page hr {
	border-color: rgba(0,0,0,.1);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

	/* MENU TOP */
	.navbar-expand-md .navbar-nav .nav-link:focus,
	.navbar-expand-md .navbar-nav .nav-link:hover,
	.navbar-expand-md .navbar-nav .nav-link.active,
	.navbar-expand-md .navbar-nav .nav-link.active:focus,
	.navbar-expand-md .navbar-nav .nav-link.active:hover {
		border-bottom-color: #00a2ff;
	}
	.navbar-expand-md .active-reverse .nav-link.active,
	.navbar-expand-md .active-reverse .nav-link.active:focus,
	.navbar-expand-md .active-reverse .nav-link.active:hover {
		color: #0d5d94;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

	/* MENU TOP */
	.navbar-expand-lg .navbar-nav .nav-link:focus,
	.navbar-expand-lg .navbar-nav .nav-link:hover,
	.navbar-expand-lg .navbar-nav .nav-link.active,
	.navbar-expand-lg .navbar-nav .nav-link.active:focus,
	.navbar-expand-lg .navbar-nav .nav-link.active:hover {
		border-bottom-color: #00a2ff;
	}
	.navbar-expand-lg .active-reverse .nav-link.active,
	.navbar-expand-lg .active-reverse .nav-link.active:focus,
	.navbar-expand-lg .active-reverse .nav-link.active:hover {
		color: #0d5d94;
	}
}