.display {
	font-size: 2.5rem;
	font-weight: 300;
}
abbr {
	font-weight: 600;
}
.guide-number {
	bottom: 0;
	color: #fff;
	font-weight: 700;
	margin-bottom: .5rem;
	right: 1rem;
	position: absolute;
	text-shadow: .1em .1em 0 rgba(0,0,0,.5);
}
#browser {
	padding-bottom: 0;
}
#browser .fab {
	color: #66a5e3;
	display: block;
	font-size: 4rem;
	margin: .75rem 0 .25rem;
}
#browser span {
	color: #fff;
}
#browser .col-4:hover .fab {
	color: #06c;
}
#browser .col-4:hover span {
	color: inherit;
}
#temi .card-header {
	align-items: center;
	display: flex;
	height: 168px;
	justify-content: center;
}
#temi .card-img-top {
	max-height: 100%;
}
#it-logo {
	background-color: #06c;
}
#sogei-logo,
#ae-logo,
#ad-logo,
#dm-logo,
#gdf-logo,
#eqg-logo,
#pff-logo {
	background-color: #f0f0f0;
}
#sts-logo {
	background-color: #005a8c;
}
#gt-logo {
	background-color: #00678c;
}
.link-palette::before {
	content: '\f13a';
	display: inline-block;
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	margin-right: .5rem;
}
.link-palette:hover::before {
	content: '\f139';
}
.link-palette.collapsed::before {
	content: '\f138';
}
.link-palette.collapsed:hover::before {
	content: '\f13a';
}
.color-palette {
	border-radius: .5rem;
	color: #fff;
	font-size: 1.5rem;
	font-weight: 600;
	margin: .5rem 0;
	padding: 2rem 0;
	text-align: center;
}
.color-secondary {
	color: #1c2024;
	padding: .75rem 0;
}
.color-secondary-alt {
	color: #1c2024;
	font-size: 1rem;
	padding: .25rem 0;
}
.blockquote {
	font-size: 1rem;
}
.view-source {
	display: block;
	font-weight: 600;
	margin: 1rem 0;
	text-align: right;
}
.view-source:not(:hover) {
	text-decoration: none !important;
}
.view-source::before {
	content: '\f078';
	display: inline-block;
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	margin-right: .5rem;
}
.view-source:hover::before {
	content: '\f077';
}
.view-source.collapsed::before {
	content: '\f054';
}
.view-source.collapsed:hover::before {
	content: '\f078';
}
xmp {
	margin: 0;
}
pre {
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	font-size: 14px;
	padding: 0 1rem;
}
.column {
	background-color: rgba(86,61,124,.15);
	margin-bottom: 1rem;
	padding: 2rem 1rem 1rem;
	text-align: center;
}

/* iPhone X display optimization */
@supports(padding: max(0px)) {
	.container-fluid {
		padding-left: max(12px, env(safe-area-inset-left));
		padding-right: max(12px, env(safe-area-inset-right));
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#hero {
		background-image: url('img/devices30.png');
	    background-position: right bottom;
	    background-repeat: no-repeat;
		background-size: contain;
	}
	.display {
		font-size: 3rem;
	}
	#guida .card > .card-img-icon > .fa-card {
		font-size: 4rem;
	}
}