<app-header *ngIf="showHeaderAndFooter"></app-header>
<app-menu *ngIf="showRouterOutlet && showHeaderAndFooter" [showRouterOutlet]="showRouterOutlet"></app-menu>

<!--app-breadcrumb *ngIf="showHeaderAndFooter"></app-breadcrumb-->
<ng4-loading-spinner [threshold]="threshold" [timeout]="timeout"> </ng4-loading-spinner>
<app-footer *ngIf="showHeaderAndFooter"></app-footer>