<div style="height: 80vh;">
    <mat-toolbar class="custom">

        <mat-toolbar-row>
            <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
              <mat-icon>menu</mat-icon>
            </button>
                <!-- Logo specifico del Tema (ADM) -->
                <h1 class="mat-body-strong">Carta della famiglia</h1>
          </mat-toolbar-row>


      <mat-toolbar-row>
        <div fxShow="true" fxHide.lt-md>
          <!-- The following menu items will be hidden on both SM and XS screen sizes -->
    

         <!-- <mat-tab-group>
              <mat-tab label="Homepage"> <app-home></app-home> </mat-tab>
              <mat-tab label="Come funziona"> Content 2 </mat-tab>
              <mat-tab label="Dove usare la carta"> Content 3 </mat-tab>
              <mat-tab label="Area esercenti"> Content 4 </mat-tab>
            </mat-tab-group>-->

            <nav mat-tab-nav-bar>
              <a mat-tab-link
              *ngFor="let link of navLinks"
              [routerLink]="link.link"
              routerLinkActive #rla="routerLinkActive"
              [active]="rla.isActive">
             {{link.label}}
            </a>
            </nav>

            
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  
    <mat-sidenav-container fxFlexFill>
      <mat-sidenav #sidenav>
        <mat-nav-list>
          <a href="#" mat-list-item>Homepage</a>
          <a href="#" mat-list-item>Come funziona</a>
          <a href="#" mat-list-item>Dove usare la carta</a>
          <a href="#" mat-list-item>Area esercenti</a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill>  <router-outlet *ngIf="showRouterOutlet"> </router-outlet></mat-sidenav-content>
    </mat-sidenav-container>
  </div>