/* You can add global styles to this file, and also import other style files */





* {
	font-family: Titillium Web;
   }



.table_header_custom{
    background-color: #039;
    color: #fff !important;
	vertical-align: bottom;
	border-top: 1px solid #dee2e6;
	border-left: 1px solid #dee2e6;
	border-bottom: 1px solid #dee2e6;
	font-size: 1rem !important;
	padding: 0.5rem !important;
	font-weight: bold;
	word-wrap: break-word;
	white-space: normal !important;
	text-align: center;
}

.table_header_min_custom{
    color: #039 !important;
	vertical-align: bottom;
	border-top: 1px solid #dee2e6;
	border-left: 1px solid #dee2e6;
	border-bottom: 1px solid #dee2e6;
	font-size: 1rem !important;
	padding: 0.5rem !important;
	font-weight: bold;
	word-wrap: break-word;
	white-space: normal !important;
}

.table_header_last_custom{
	border-right: 1px solid #dee2e6;
}


.table_cell_custom{
	border-left: 1px solid #dee2e6;
	border-collapse: collapse;
	padding: .5rem !important;
	display: flex !important;
	align-items: center !important;
}
.table_cell_last_custom{
	border-right: 1px solid #dee2e6;
}
.table_cell_button_custom{
	font-size: 17px;
	margin-right: 5px;
	padding: 0 .25rem;
}



